# Class 4 MongoDB cont'd

In [2]:
from pymongo import MongoClient
import pymongo
db_url="mongodb://handson:handson@cluster0-shard-00-00-pfhcv.mongodb.net:27017,cluster0-shard-00-01-pfhcv.mongodb.net:27017,cluster0-shard-00-02-pfhcv.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true&w=majority"
client = MongoClient(db_url)

# See all databases: list(client.list_databases())
airbnb=client['sample_airbnb']['listingsAndReviews']
geospatial=client['sample_geospatial']['shipwrecks']
movies=client['sample_mflix']
supplies=client['sample_supplies']['sales']
training=client['sample_training']
weather=client['sample_weatherdata']['data']
grades = training['grades']

### All Query Operators discussed below can be found here:
https://docs.mongodb.com/manual/reference/operator/query/

## Question 1  

Find the number of listings in the Airbnb collection with "accommodates" value of 5 i.e. that accomodates 5 people.

In [24]:
type(airbnb)

pymongo.collection.Collection

In [2]:
airbnb.count_documents({"accommodates":5})

264

~~~
SELECT count(*)
FROM airbnb
WHERE accommodates=5
~~~

## Question 2 

Find the number of documents in the Airbnb collection that have a "TV" as a value in the "amenities" array.

In [3]:
airbnb.count_documents({"amenities": "TV"})

4280

## Question 3

Find all the listings with 10 bedrooms, sorted by name descending and ONLY return the name, bedrooms, amenities, and address field. Limit to 1 result.
~~~
SELECT name, bedrooms, address, amenities
FROM airbnb
WHERE bedrooms = 10
ORDER BY name desc
LIMIT 1
~~~

In [8]:
list(airbnb
     .find({"bedrooms":10}, {"_id":0, "name":1, "address":1, "bedrooms":1})
     .sort("name", -1)
     .limit(1))

[{'name': 'Great Complex of the Cellars',
  'bedrooms': 10,
  'address': {'street': 'Vila Nova de Gaia, Porto, Portugal',
   'suburb': '',
   'government_area': 'Santa Marinha e São Pedro da Afurada',
   'market': 'Porto',
   'country': 'Portugal',
   'country_code': 'PT',
   'location': {'type': 'Point',
    'coordinates': [-8.62181, 41.13354],
    'is_location_exact': False}}}]

## Question 4

SELECT name, number_of_reviews  <br>
FROM airbnb <br>
ORDER BY number_of_reviews desc <br>
LIMIT 1

In [9]:
list(airbnb.find({},{"_id":0, "name":1, "number_of_reviews":1}).sort("number_of_reviews",-1).limit(1))

[{'name': '#Private Studio - Waikiki Dream', 'number_of_reviews': 533}]

# Comparison Operators

~~~
$eq: Matches values that are equal to a specified value.
$gt: Matches values that are greater than a specified value.
$gte: Matches values that are greater than or equal to a specified value.
$in: Matches any of the values specified in an array.
$lt: Matches values that are less than a specified value.
$lte: Matches values that are less than or equal to a specified value.
$ne: Matches all values that are not equal to a specified value.
$nin: Matches none of the values specified in an array.
~~~

See https://docs.mongodb.com/manual/reference/operator/query-comparison/ for more info.

## Question 5 

Return the document where "accommodates" is greater than 6, and ordered by "number_of_reviews" descending, limit to 1 result. Only return "name", "accommodates", "number_of_reviews", and the "address".

~~~
Syntax: {field: {$gt: value} }
~~~

In [11]:
list(airbnb
     .find({"accommodates": {"$gt":6 }}, {"_id":0, "name":1, "accommodates":1})
     .sort("number_of_reviews",-1).limit(1))

[{'name': 'Spectacular Modern Uptown Duplex', 'accommodates': 11}]

## Question 6 

Return the document where the "accomoodates" is greater than 3 and less than 6, and "amenities" value where that does not contain a "TV" nor "Internet" and "number_of_reviews" greater than or equal to 22. Only return the name, accomodates, amenities and number_of_reviews fields and sort by the number_of_reviews field descending. Limit to 1 result.  

~~~
Syntax: { field: { $nin: [ <value1>, <value2> ... <valueN> ]} }
~~~

In [13]:
list(airbnb
     .find({
         "accommodates": {"$gt":3, "$lt":6},
         "amenities": {"$nin": ["TV", "Internet"]},
         "number_of_reviews": {"$gte": 22}
     }, {"_id":0, "name":1, "accommodates":1, "amenities":1, "number_of_reviews":1})
     .sort("number_of_reviews", -1)
     .limit(1))

[{'name': 'Lovely apartment with private parking',
  'accommodates': 5,
  'number_of_reviews': 204,
  'amenities': ['Wifi',
   'Kitchen',
   'Free parking on premises',
   'Buzzer/wireless intercom',
   'Family/kid friendly',
   'Washer',
   'First aid kit',
   'Fire extinguisher',
   'Essentials',
   'Shampoo',
   '24-hour check-in',
   'Hangers',
   'Hair dryer',
   'Iron',
   'Laptop friendly workspace',
   'translation missing: en.hosting_amenity_50',
   'High chair',
   'Hot water',
   'Bed linens',
   'Ethernet connection',
   'Microwave',
   'Coffee maker',
   'Refrigerator',
   'Dishes and silverware',
   'Cooking basics',
   'Oven',
   'Stove',
   'Patio or balcony',
   'Luggage dropoff allowed',
   'Long term stays allowed',
   'Cleaning before checkout',
   'Wide hallway clearance',
   'Wide doorway',
   'Flat path to front door',
   'Well-lit path to entrance',
   'Step-free access',
   'Accessible-height bed',
   'Step-free access',
   'Accessible-height toilet',
   'Host greets you']}]

## Question 7

Return the count of documents that do not have any of the following cast members: "Gèrard Depardieu", "Robert De Niro", "Morgan Freeman", "Samuel L. Jackson","Nicolas Cage", nor "Bruce Willis".

In [14]:
movies["movies"].count_documents({"cast": {
    "$nin": ["Gèrard Depardieu", "Robert De Niro", "Morgan Freeman", 
             "Samuel L. Jackson","Nicolas Cage", "Bruce Willis"]}})

23226

In [15]:
movies["movies"].count_documents({"cast": {
    "$nin": ["Gèrard Depardieu", "Robert De Niro", "Morgan Freeman", 
             "Samuel L. Jackson","Nicolas Cage", "Bruce Willis"],
    "$exists":True
}})

22836

In [16]:
castAll = movies["movies"].count_documents({"cast": {
    "$nin": ["Gèrard Depardieu", "Robert De Niro", "Morgan Freeman", 
             "Samuel L. Jackson","Nicolas Cage", "Bruce Willis"]}})

castT = movies["movies"].count_documents({"cast": {
    "$nin": ["Gèrard Depardieu", "Robert De Niro", "Morgan Freeman", 
             "Samuel L. Jackson","Nicolas Cage", "Bruce Willis"],
    "$exists":True
}})

castF = movies["movies"].count_documents({"cast": {
    "$nin": ["Gèrard Depardieu", "Robert De Niro", "Morgan Freeman", 
             "Samuel L. Jackson","Nicolas Cage", "Bruce Willis"],
    "$exists":False
}})

print(f'All documents: {castAll}, only where cast exists: {castT}, where cast doesnt exist: {castF}')

All documents: 23226, only where cast exists: 22836, where cast doesnt exist: 390

## Question 8

Write the following in MongoDB:
    
SELECT name, number_of_reviews, beds <br>
FROM airbnb <br>
WHERE number_of_reviews >= 200 <br>
ORDER BY beds DESC <br>
LIMIT 1

In [17]:
list(airbnb
     .find({"number_of_reviews": {"$gte":200}}, {"_id":0, "name":1, "number_of_reviews":1, "beds":1})
     .sort("beds", -1)
     .limit(1))

[{'name': 'Beautiful Home Away From Home!',
  'beds': 7,
  'number_of_reviews': 219}]

## Question 9

Return the count of all documents where the "tomates.viewer.rating" value is "$ne" to 3.

In [18]:
movies["movies"].count_documents({"tomatoes.viewer.rating": {"$ne": 3}})

22501

In [19]:
movies["movies"].count_documents({"tomatoes.viewer.rating": {"$ne": 3, "$exists": True }})

19526

## Question 10

Return the count of all the documents that have the "property_type" value of "Bungalow" and "amenities" that have the following items: "TV", "Wifi","Smart TV", "Heating", "Swimming Pool", "Waterfront","Gym","Beachfront","Safe","Refrigerator", and a "Tennis Court".

~~~
Syntax: { field: { $in: [<value1>, <value2>, ... <valueN> ] } }
~~~

In [21]:
airbnb.count_documents({
    "property_type":"Bungalow",
    "amenities": {
        "$in": ["TV", "Wifi","Smart TV", "Heating", "Swimming Pool", 
                "Waterfront","Gym","Beachfront","Safe","Refrigerator", "Tennis Court"]}
})

14

# Practice Problems

## Practice Problem 1

Find a document in the movies["movies"] collection where:

~~~
1) "imdb.rating" greater than 9
2) "imdb.votes" is less than 50
3) Only return the "_id", "title", and "imdb" fields
4) Sort by "imdb.votes" ascending
~~~

In [21]:
list(movies.movies
     .find({
         "imdb.rating": {"$gt": 9},
         "imdb.votes": {"$lt": 50}
     }, {"title":1, "imdb":1})
     .sort("imdb.votes",1)
     .limit(1))

[{'_id': ObjectId('573a13daf29313caabdad25f'),
  'title': 'The Real Miyagi',
  'imdb': {'rating': 9.3, 'votes': 41, 'id': 2313306}}]

## Practice Problem 2

Find a document in the training["tweets"] collection where:

~~~
1) "user.friends_count" greater than or equal to 2500
2) Return the _id, "user.friends_count" , and the "user.name"
3) Sort by "created_at" descending
~~~

In [22]:
list(training.tweets
     .find({
         "user.friends_count": {"$gte": 2500}
     }, {"user.friends_count":1, "user.name":1})
     .sort("created_at",-1)
     .limit(1))

[{'_id': ObjectId('5c8eccb2caa187d17ca6ecf0'),
  'user': {'friends_count': 15359, 'name': 'Justin Bieber Fans'}}]

## Practice Problem 3

Find a document in the supplies collection where:

~~~
1) "items.name" field has no value in: "notepad", "laptop","pens", "backpack"
2) Sort by "saleDate" ascending
3) Limit to 1 result
~~~

In [23]:
list(supplies
     .find({
         "items.name": {"$nin": ["notepad", "laptop","pens", "backpack"]}
     })
     .limit(1)
     .sort("saleDate",1))

[{'_id': ObjectId('5bd761ddae323e45a93cdab5'),
  'saleDate': datetime.datetime(2013, 1, 2, 23, 48, 1, 806000),
  'items': [{'name': 'binder',
    'tags': ['school', 'general', 'organization'],
    'price': Decimal128('20.01'),
    'quantity': 5}],
  'storeLocation': 'Seattle',
  'customer': {'gender': 'M',
   'age': 50,
   'email': 'cinuk@don.lc',
   'satisfaction': 2},
  'couponUsed': False,
  'purchaseMethod': 'In store'}]

## Practice Problem 4

Find a document in the airbnb collection where:

~~~
1) "beds" field is greater than 1 but less than or equal to 3
2) "amenities" field is not in the following values: "Internet", "Wifi","Coffee maker"
3) Return only the _id, "name", "accommodates", "amenities", "number_of_reviews"
4) limit to 1 result
5) Sort by "beds" ascending
~~~

In [24]:
list(airbnb
     .find({
         "beds": {"$gt":1, "$lte":3},
         "amenities": {"$nin": ["Internet", "Wifi","Coffee maker"]}
     }, {"name":1, "accommodates":1, "amenities":1, "number_of_reviews":1})
     .sort("beds",1)
     .limit(1))

[{'_id': '10059872',
  'name': 'Soho Cozy, Spacious and Convenient',
  'accommodates': 3,
  'number_of_reviews': 3,
  'amenities': ['Air conditioning',
   'Kitchen',
   'Smoking allowed',
   'Doorman',
   'Elevator',
   'Heating',
   'Family/kid friendly',
   'Essentials',
   '24-hour check-in',
   'translation missing: en.hosting_amenity_50']}]

## Practice Problem 5

Find a document in the movies["movies"] collection where:

~~~
1) "runtime" is between 10 and 100, inclusive
2) "type" is not equal to movie and it exists
3) "languages" field is not in "English","French","Japanese" and exists 
4) limit to 1 result 
5) Sort by "runtime" ascending
~~~

In [25]:
list(movies.movies
     .find({
         "runtime": {"$gte":10, "$lte":100},
         "type": {"$ne": "movie", "$exists": True},
         "languages": {"$nin": ["English","French","Japanese"], "$exists":True}
     })
     .limit(1).sort("runtime",1))

[{'_id': ObjectId('573a13bef29313caabd5b166'),
  'countries': ['Russia'],
  'genres': ['Action', 'Thriller'],
  'runtime': 45,
  'cast': ['Vladimir Mashkov',
   'Mikhail Porechenkov',
   'Vladimir Menshov',
   'Sergey Makovetskiy'],
  'num_mflix_comments': 3,
  'title': 'Liquidation',
  'lastupdated': '2015-04-08 00:08:01.207000000',
  'languages': ['Russian', 'Ukrainian'],
  'released': datetime.datetime(2007, 12, 2, 0, 0),
  'awards': {'wins': 5, 'nominations': 3, 'text': '5 wins & 3 nominations.'},
  'year': '2007è',
  'imdb': {'rating': 8.6, 'votes': 929, 'id': 1048097},
  'type': 'series',
  'tomatoes': {'viewer': {'rating': 1.9, 'numReviews': 83, 'meter': 23},
   'lastUpdated': datetime.datetime(2015, 9, 13, 17, 10, 27)}}]

## Practice Problem 6

Find a document in the movies["movies"] collection where:

~~~
1) "countries" field is one of the following "USA", "Brazil", "Italy"
2) "genres" field is not in the following: "Short", "Action","Drama","Thriller"
3) "rated" field exists and is not equaled to "UNRATED"
4) "runtime" field is greater than 50
4) Limit to 1 result
5) Sort by runtime ascending
6) Return the following fields: "_id", "countries", "genres", "rated", "runtime", "title"
~~~

In [26]:
list(movies["movies"]
     .find({
         "countries": {"$in": ["USA", "Brazil", "Italy"]},
         "genres": {"$nin": ["Short", "Action","Drama","Thriller"]},
         "rated": {"$ne": "UNRATED", "$exists":True},
         "runtime": {"$gt": 50}
     }, {"countries":1, "genres":1, "rated":1, "runtime":1, "title":1})
     .limit(1)
     .sort("runtime",1))

[{'_id': ObjectId('573a1397f29313caabce7848'),
  'genres': ['Documentary'],
  'runtime': 51,
  'title': 'Garlic Is As Good As Ten Mothers',
  'rated': 'NOT RATED',
  'countries': ['USA']}]

# Logical Operators

~~~
$and: Joins query clauses with a logical AND returns all documents that match the conditions of both clauses.
$not: Inverts the effect of a query expression and returns documents that do not match the query expression.
$nor: Joins query clauses with a logical NOR returns all documents that fail to match both clauses.
$or: Joins query clauses with a logical OR returns all documents that match the conditions of either clause.
~~~

See https://docs.mongodb.com/manual/reference/operator/query-logical/ for more info.

## The OR operator examples

~~~
Syntax: { $or: [ { <expression1> }, { <expression2> }, ... , { <expressionN> } ] }
~~~

## Question 11

Rewrite the above question (Question 10) using the $or operator.

In [29]:
airbnb.count_documents({
    "property_type": "Bungalow",
    "$or":[ {"amenities": {"$in": ["TV", "Wifi"]}}, {"beds":10}]
})

14

## OR
~~~
-For different fields
-multiple expressions
~~~
## IN
~~~
-one field, but multiple values
~~~

In [ ]:
airbnb.count_documents({
    "property_type":"Bungalow",
    "amenities": {
        "$in": ["TV", "Wifi","Smart TV", "Heating", "Swimming Pool", 
                "Waterfront","Gym","Beachfront","Safe","Refrigerator", "Tennis Court"]}
})

## Question 12

Return the count of all documents in the movies database and movies collection (i.e. movies["movies"]) where the document had either a "rated" value of "PG" or "PG-13".

In [30]:
q1 = movies.movies.count_documents({
    "rated": {"$in": ["PG", "PG-13"]}
})



q2 =  movies.movies.count_documents({
    "$or": [ {"rated": "PG"}, {"rated": "PG-13"} ]
})

print(f'{q1}, {q2}')

4176, 4176

~~~
SELECT count(*)
FROM movies
WHERE rated="PG" OR rated="PG-13"
~~~

## Question 13 

Return two movies sorted by year descending where either the "awards.wins" value is greater than 250 or 
the "year" is between 2000 and 2005.

In [34]:
list(movies.movies
     .find({
         "$or": [
             {"awards.wins": {"$gt": 250}},
             {"year": {"$gte":2000, "$lte":2005}}
         ]
     }, {"awards.wins":1,"year":1})
     .sort("year", -1)
     .limit(2))

[{'_id': ObjectId('573a13d5f29313caabd9cae7'),
  'year': 2013,
  'awards': {'wins': 267}},
 {'_id': ObjectId('573a139af29313caabcf0562'),
  'awards': {'wins': 2},
  'year': 2005}]

## Question 14 

Return 3 movies sorted by year descending where either the "awards.wins" value is greater than 250 or 
the "year" is less than 2005 or greater than 2015.

In [35]:
list(movies.movies
     .find({
         "$or": [
             {"awards.wins": {"$gt": 250}},
             {"year": {"$lt":2005}},
             {"year": {"$gt":2015}}
         ]
     }, {"awards.wins":1,"year":1})
     .sort("year", -1)
     .limit(2))

[{'_id': ObjectId('573a13e6f29313caabdc6a9a'),
  'awards': {'wins': 1},
  'year': 2016},
 {'_id': ObjectId('573a13d5f29313caabd9cae7'),
  'year': 2013,
  'awards': {'wins': 267}}]

## The AND operator examples

~~~
Syntax: { $and: [ { <expression1> }, { <expression2> } , ... , { <expressionN> } ] }
~~~

## Question 15 

Return a movie that has

~~~
1) "runtime" of greater than 90,
2) "year" greater than 2000, 
3) "imdb.votes" less than 40
4) Sort by year descending
5) Limit to only 1 result
6) Return only the relevant fields in the query criteria
~~~

In [36]:
list(movies.movies
     .find({
         "$and": [
             {"runtime": {"$gt": 90}},
             {"year": {"$gt":2000}},
             {"imdb.votes": {"$lt":40}}
         ]
     },{"year":1,"runtime":1, "imdb":1})
     .sort("year",-1)
     .limit(1))

[{'_id': ObjectId('573a13c3f29313caabd6a3ad'),
  'runtime': 100,
  'year': 2015,
  'imdb': {'rating': 6.9, 'votes': 21, 'id': 1309379}}]

## Question 16 

Return the document's title sorted by "year" descending that has a "runtime" value greater than 100, "year" greater than 2000 and less than 2005, and an "imdb.votes" value less than 30. Show 3 different ways of writing this query.

In [37]:
q1= list(movies.movies
         .find({
             "runtime": {"$gt": 100},
             "year": {"$gt":2000, "$lt":2005},
             "imdb.votes": {"$lt": 30}
         }, {"title":1})
         .sort("year",-1)
         .limit(1))

q2= list(movies.movies
         .find({"$and": [
             {"runtime": {"$gt":100}},
             {"year": {"$gt":2000}},
             {"year": {"$lt":2005}},
             {"imdb.votes": {"$lt": 30}}
         ]
         }, {"title":1})
         .sort("year",-1)
         .limit(1))

q3=list(movies.movies
         .find({
             "$and": [
             {"runtime": {"$gt":100}},
             {"year": {"$gt":2000,"$lt":2005}},
             {"imdb.votes": {"$lt": 30}}
         ]
         }, {"title":1})
         .sort("year",-1)
         .limit(1))

m1 = q1[0]['title']
m2 = q2[0]['title']
m3 = q3[0]['title']

print(f'{m1}, {m2}, {m3}')

Living with the Fosters, Living with the Fosters, Living with the Fosters

## Question 17


Return a document that has a "type" of movie, and where the "year" value is less than 1930 or rated a "PG", and the "imdb.votes" is greater than 100 or the runtime is greater than 120.

### Implicit vs Explicit AND

~~~
Implicit: {field:value, field:value,....}

Explicit: {$and: [ {expression1}, {expression2},...]}
~~~

In [38]:
list(movies.movies
     .find({
         "$and": [
             {"type":"movie"},
             {"$or": [
                 {"year": {"$lt":1930}}, {"rated": "PG"}
             ]},
             { "$or": [
                 {"imdb.votes": {"$gt":100}}, {"runtime": {"$gt":120}}
             ]}
         ]
     })
     .limit(1)
     .sort("year",-1))

[{'_id': ObjectId('573a13cdf29313caabd841e8'),
  'plot': "When her father unexpectedly passes away, young Ella finds herself at the mercy of her cruel stepmother and her daughters. Never one to give up hope, Ella's fortunes begin to change after meeting a dashing stranger.",
  'genres': ['Drama', 'Family', 'Fantasy'],
  'runtime': 105,
  'metacritic': 67,
  'rated': 'PG',
  'cast': ['Cate Blanchett',
   'Lily James',
   'Richard Madden',
   'Helena Bonham Carter'],
  'num_mflix_comments': 2,
  'poster': 'https://m.media-amazon.com/images/M/MV5BMjMxODYyODEzN15BMl5BanBnXkFtZTgwMDk4OTU0MzE@._V1_SY1000_SX677_AL_.jpg',
  'title': 'Cinderella',
  'fullplot': "A girl named Ella (Cinderella) has the purest heart living in a cruel world filled with evil stepsisters and an evil stepmother out to ruin Ella's life. Ella comes one with her pure heart when she meets the prince and dances her way to a better life with glass shoes, and a little help from her fairy godmother, of course.",
  'languages': ['English'],
  'released': datetime.datetime(2015, 3, 13, 0, 0),
  'directors': ['Kenneth Branagh'],
  'writers': ['Chris Weitz (screenplay)'],
  'awards': {'wins': 1, 'nominations': 4, 'text': '1 win & 4 nominations.'},
  'lastupdated': '2015-09-10 17:06:26.173000000',
  'year': 2015,
  'imdb': {'rating': 7.1, 'votes': 68498, 'id': 1661199},
  'countries': ['USA', 'UK'],
  'type': 'movie'}]

## The NOT 

~~~
$NOT syntax: { field: { $not: { <operator-expression> } } }
~~~

See more here https://docs.mongodb.com/manual/reference/operator/query/not/#op._S_not

## Question 18

Return the count of all the documents in training['grades'] dataset where

~~~
1) none of the "scores.score" values are less than 93.5
2) Sort by "class_id" descending
3) Limit to 1 result
~~~

In [39]:
list(training.grades
     .find({
         "scores.score": {"$not": {"$lt": 93.5}}
     })
     .limit(1).sort("class_id",-1))

[{'_id': ObjectId('56d5f7ed604eb380b0d93541'),
  'student_id': 2366.0,
  'scores': [{'type': 'exam', 'score': 94.76193305771264},
   {'type': 'quiz', 'score': 97.76548967976919},
   {'type': 'homework', 'score': 99.40737859186379},
   {'type': 'homework', 'score': 98.25436364550917}],
  'class_id': 451.0}]

In [43]:
list(training.grades
     .find({
         "scores.score": {"$gte": 93.5}
     })
     .limit(1).sort("class_id",-1))

[{'_id': ObjectId('56d5f7eb604eb380b0d8da7e'),
  'student_id': 43.0,
  'scores': [{'type': 'exam', 'score': 29.438528115173668},
   {'type': 'quiz', 'score': 93.45862647470958},
   {'type': 'homework', 'score': 95.83097600441303},
   {'type': 'homework', 'score': 96.56935104413706}],
  'class_id': 500.0}]

# Practice Problems

## Practice Problem 1

Find a document in the training["companies"] collection where:

~~~
1) The array of embedded objects field "relationships.is_past" exists and is not equal to False
2) "founded_year" is greater than 2000 and less than 2005 OR no value in the array of embedded objects "funding_rounds.raised_amount" field is less than 800000 and exists
3) Only return "relationships.is_past", "funding_rounds.raised_amount","founded_year", and "_id"
4) SORT by "founded_year" descending
5) LIMIT to 1 result
~~~

In [3]:
list(training.companies
     .find({
         "relationships.is_past": {"$not": {"$eq":False}, "$exists":True},
         "$or": [
             {"founded_year": {"$gt":2000, "$lt":2005}},
             {"funding_rounds.raised_amount": {"$not": {"$lt":800000}, "$exists": True }}
         ]
     }, {"relationships.is_past", "funding_rounds.raised_amount","founded_year"})
     .sort("founded_year",-1)
     .limit(1))

[{'_id': ObjectId('52cdef7d4bab8bd67529a0b4'),
  'founded_year': 2011,
  'relationships': [{'is_past': True},
   {'is_past': True},
   {'is_past': True},
   {'is_past': True},
   {'is_past': True},
   {'is_past': True}],
  'funding_rounds': [{'raised_amount': 6250000}, {'raised_amount': 7700000}]}]

## Practice Problem 2

In the movies collection, write a query where:

~~~
1) "genres" is in one of the following values: "Short","Comedy"
2) "countries" array has a value of "USA" OR "year" value is greater than 2015
3) "imdb.rating" is greater than 8.6 OR "tomatoes.viewer.rating" is greater than 4
4) ONLY RETURN the following: "year","title","genres", "countries","tomatoes.viewer.rating", "imdb.rating","_id"
5) LIMIT to 1 result
6) SORT "year" descending
~~~

In [5]:
list(movies.movies 
     .find({
         "$and":[
            {"genres": {"$in": ["Short","Comedy"]}}, 
            {"$or":[ {"countries": "USA"}, {"year": {"$gt":2015}}]},
            {"$or":[ {"imdb.rating": {"$gt":8.6}}, {"tomatoes.viewer.rating": {"$gt": 4} }]}
         ]},{"year","title","genres", "countries","tomatoes.viewer.rating", "imdb.rating"})
     .limit(1)
     .sort("year",-1))

[{'_id': ObjectId('573a13bff29313caabd5e4b4'),
  'genres': ['Comedy', 'Drama', 'Family'],
  'title': "Good Ol' Boy",
  'year': 2015,
  'imdb': {'rating': 8.4},
  'countries': ['USA'],
  'tomatoes': {'viewer': {'rating': 5.0}}}]

## Practice Problem 3

In the airbnb collection, write a query where:

~~~
1) "room_type" is not equal to "Entire home/apt"
2) "property_type" is in "Bungalow", "Castle"
3) "minimum_nights" is less than 2 OR price is less than 40 
~~~

In [6]:
list(airbnb
     .find({
        "room_type": {"$ne":"Entire home/apt" },
        "property_type": {"$in": ["Bungalow", "Castle"]},
        "$or": [
            {"minimum_nights": {"$lt":2}}, {"price": {"$lt":30}}
        ]
     }, {"room_type","property_type","minimum_nights","price","name"})
     .limit(1)
     .sort("name",-1))

[{'_id': '24944774',
  'name': 'Quiet bungalow (Rivière des prairies)',
  'property_type': 'Bungalow',
  'room_type': 'Private room',
  'minimum_nights': '3',
  'price': Decimal128('24.00')}]

# Other Operators

Element, Evaluation, Geospatial, and Array operators

~~~
$text: Performs text search.
{
  $text:
    {
      $search: <string>,
      $language: <string>,
      $caseSensitive: <boolean>,
      $diacriticSensitive: <boolean>
    }
}


$elemMatch: Selects documents if element in the array field matches all the specified $elemMatch conditions.
{ <field>: { $elemMatch: { <query1>, <query2>, ... } } }



$size: Selects documents if the array field is a specified size.
{ <field>: { $size: value } }



$all: Matches arrays that contain all elements specified in the query.
{ <field>: { $all: [ <value1> , <value2> ... ] } }

~~~
text - https://docs.mongodb.com/manual/reference/operator/query/text <br>
elemMatch - https://docs.mongodb.com/manual/reference/operator/query/elemMatch/ <br>
size - https://docs.mongodb.com/manual/reference/operator/query/size/ <br>
all - https://docs.mongodb.com/manual/reference/operator/query/all/

## Question 19 - $text

Return the documents sorted by beds descending that have the word "park" or the phrase "los angeles" in the description field (index has already been created on "description") in the Airbnb dataset. Only return the description, name and limit to 1 result sorted by "beds" descending.

In [7]:
list(airbnb.find({"$text": {"$search": "park oceanview"}}, {"name":1,"description":1}).limit(1).sort("beds",-1))

[{'_id': '20958766',
  'name': 'Great Complex of the Cellars',
  'description': 'Our space is a complex with several houses, 3 of them together and the other about 50 meters, with capacity for 22 Adults or children + 2 babies, are close to the city center, parks, art and culture, beautiful scenery, 200 meters from the Port Wine Cellars, about 400 meters from Ribeira de Gaia and the Train Station, about 100 meters from the bus stop, is 1km from Ribeira do Porto. Ideal space for large groups that want to fraternize and relax. When renting these rooms, they are only for you and your family or friends, however, each group of two people has the right to 1 room in the house if they wish to stay in separate rooms. In addition, on-site payment of a € 10 fee, cleaning of the other room, washing and ironing of extra bed linen. It is not allowed, free of charge the occupation of all the houses, without the number of people justify it, example 10 people want to occupy all the houses in the complex, in this situation, if that is the intention of the users, it lacks an extra pay'}]

## Question 20 - $elemMatch

In the geospatial dataset, sorted by "latdec" descending, find a document where the "coordinates" the longitude value is greater than -90 but less than or equal -88. Limit to 1 result.

In [8]:
# Querying Arrays with ElemMatch
list(geospatial
     .find({"coordinates": {
         "$elemMatch": {
              "$lte": -88, "$gt": -90 
         }
     }})
     .limit(1)
     .sort("latdec",-1))

[{'_id': ObjectId('578f6fa3df35c7fbdbaee7ef'),
  'recrd': '',
  'vesslterms': '',
  'feature_type': 'Wrecks - Submerged, dangerous',
  'chart': 'US,US,graph,chart 14976',
  'latdec': 48.200457,
  'londec': -88.49157,
  'gp_quality': '',
  'depth': '',
  'sounding_type': '',
  'history': '',
  'quasou': 'depth unknown',
  'watlev': 'always under water/submerged',
  'coordinates': [-88.49157, 48.200457]}]

## Question 21 - $elemMatch

In the training["companies"] dataset, return the count of documents that have at least one embedded document in the "relationships" field where the "person.first_name" value is "Ben" and the "is_past" value is False. Compare this count with the count of documents where the "relationships" field has an "is_past" value of false and a "person.first_name" value of "Ben".

In [9]:
elemMatch= training['companies'].count_documents({
    "relationships": {
         "$elemMatch": {
             "is_past":False, "person.first_name":'Ben', 
         }
     }})
     


noMatch = training['companies'].count_documents({
                                    "relationships.is_past": False , 
                                    "relationships.person.first_name":'Ben',
                                     }) 
         
    
print(f'Number of matching documents with $elemMatch is: {elemMatch}. \nThe number without elemMatch is: {noMatch}')

Number of matching documents with $elemMatch is: 93.
The number without elemMatch is: 167

## Question 22 - $elemMatch

In the grades collection, find a document where one element matches the type of "scores.type" 
of "exam" and "scores.score" is greater than 97.

In [10]:
# Query Embedded Documents
list(grades
     .find({"scores": {
         "$elemMatch": {
             "type":"exam","score": {"$gt":97}
         }
     }})
     .limit(1)
     .sort("student_id",-1))

[{'_id': ObjectId('56d5f7f1604eb380b0da5f39'),
  'student_id': 9994.0,
  'scores': [{'type': 'exam', 'score': 98.20044944087331},
   {'type': 'quiz', 'score': 28.349052884591032},
   {'type': 'homework', 'score': 69.8395825261821},
   {'type': 'homework', 'score': 21.288484910376116}],
  'class_id': 379.0}]

## Question 23 - $size

In the Airbnb dataset, return the count of documents that have an "amenities" field size of 25.

In [11]:
airbnb.count_documents({ "amenities": {"$size": 25 } })

173

## Question 24 - $all

Return the count of documents that have all the following values in the "amenities" field: 'TV', 'Kitchen', 'Wifi', 'Internet','Cable TV', 'Coffee maker', 'Cooking basics','Family/kid friendly', 'Gym', and 'Heating'.

In [12]:
airbnb.count_documents({"amenities": {"$all": ['TV', 'Kitchen', 'Wifi', 'Internet','Cable TV', 
                                               'Coffee maker', 'Cooking basics',
                                               'Family/kid friendly', 'Gym', 
                                               'Heating']}})

8

## Question 25 - $all with elemMatch

Return a single document sorted by class_id descending where there's one embeddded document that has "scores.type" of exam and "scores.score" of greater than 97, "scores.type" of quiz and "scores.score" of greater than 96, and
"scores.type" of homework and "scores.score" of greater than 95.

In [13]:
# Query Embedded Documents
list(grades
     .find({"scores": {
         "$all":[
            {"$elemMatch": {"type":"exam","score": {"$gt":97}}},
            {"$elemMatch": {"type":"quiz","score": {"$gt":96}}},
            {"$elemMatch": {"type":"homework","score": {"$gt":95}}}
         ]
     }})
     .limit(1)
     .sort("student_id",-1))

[{'_id': ObjectId('56d5f7f1604eb380b0da4b05'),
  'student_id': 9477.0,
  'scores': [{'type': 'exam', 'score': 97.70221871186124},
   {'type': 'quiz', 'score': 98.38639086583655},
   {'type': 'homework', 'score': 43.71678839949483},
   {'type': 'homework', 'score': 97.78339211813662}],
  'class_id': 439.0}]