# Class 4 IN CLASS - MongoDB Aggregation Pipeline

In [3]:
from pymongo import MongoClient
import pymongo
from bson.objectid import ObjectId

db_url="mongodb://handson:handson@cluster0-shard-00-00-pfhcv.mongodb.net:27017,cluster0-shard-00-01-pfhcv.mongodb.net:27017,cluster0-shard-00-02-pfhcv.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true&w=majority"
client = MongoClient(db_url)

# See all databases: list(client.list_databases())
airbnb=client['sample_airbnb']['listingsAndReviews']
geospatial=client['sample_geospatial']['shipwrecks']
netflix=client['sample_mflix']
# theaters,comments, movies
supplies=client['sample_supplies']['sales']
training=client['sample_training']
# grades, routes, trips, stories, inspections,companies, tweets, posts, zips
weather=client['sample_weatherdata']['data']
grades = training['grades'] 
movies = netflix.movies


# Post QUESTION 17
db2 = 'mongodb://m121:aggregations@cluster0-shard-00-00-jxeqq.mongodb.net:27017,cluster0-shard-00-01-jxeqq.mongodb.net:27017,cluster0-shard-00-02-jxeqq.mongodb.net:27017/aggregations?replicaSet=Cluster0-shard-0&authSource=admin&ssl=true' 
client2 = MongoClient(db2)
air_routes = client2.aggregations.air_routes
air_airlines = client2.aggregations.air_airlines
parent_reference = client2.aggregations.parent_reference
employees = client2.aggregations.employees
icecream_data = client2.aggregations.icecream_data
stocks = client2.aggregations.stocks
customers = client2.aggregations.customers
air_alliances = client2.aggregations.air_alliances
solarSystem = client2.aggregations.solarSystem
exoplanets = client2.aggregations.exoplanets
nycFacilities = client2.aggregations.nycFacilities

## Question 1

Return the count of all the documents in the movies.movies collection. Use the .find() and aggregation framework.

### .find() Method

### Aggregation Framework

## Question 2

Return the count of all the documents in the airbnb collection:

~~~
1) grouped by the "room_type"
~~~

### How would you translate this into SQL

### MongoDB

## Question 3
Translate the following into MongoDB

~~~
SELECT room_type,
       SUM(price) AS total
FROM airbnb
GROUP BY room_type
~~~

## Question 4

In the airbnb collection, write the following query:
~~~
1) "property_type" of "Hostel"
2) GROUPED by "address.country"
3) SUM the number per grouping as "number_of_hostels"
4) SORT by number_of_hostels descending
~~~

## Question 5

In the movies collection, write the following query:
~~~
1) "genres" in the following values: "Short","Documentary"
2) GROUPED by "rated"
3) SUM the number per grouping as "count"
4) SORT by "count" descending
5) LIMIT to the top 5
~~~

## Question 6

In the training.companies collection, write the following query:
~~~
1) "founded_year" is greater than 2012
2) GROUP by "category_code", SUM the "number_of_employees" field as "employee_count", and the count the number of documents in the groupings as "company_count"
3) SORT by "employee_count" descending
4) LIMIT to 5 
5) PROJECT/Return "_id" as "category", "employee_count", "company_count"
~~~

## Question 7

In the airbnb collection, write the following query:
~~~
1) GROUP all documents on the following values: "address.country", "room_type", "property_type" AND SUM the "price" as "price" and number of documents as "count" 
2) SORT on "price" descending
3) LIMIT to 5 results
~~~

## Question 8

In the training.companies collection, write the following query:
~~~
1) "founded_year" is greater than 1990
2) GROUP by the size of the "investments" field and "category_code", and return the count of these groupings as "count"
3) Return groupings HAVING only a "count" greater than 1, and "investments" size greater than 1
4) SORT by the size of "investments" descending, "count" descending, and "category" ascending
5) LIMIT to 3

~~~

## Question 9

In the movies collection, write the following query:
~~~
1) GROUP by director array size, and return the count per grouping as "count"
2) FILTER on "count" greater than 1
3) SORT by director size
4) LIMIT to top 3 results
~~~

## Question 10 

In the movies collection, write the following query:
~~~
1) FILTER on "year" greater than 2000
2) UNWIND "genres"
3) GROUP by genres, sum up the count as "count" per grouping
4) SORT on count descending
5) LIMIT to 3
~~~

## Question 11

In the airbnb collection, write the following query:
~~~
1) FILTER on "property_type" of "Hostel"
2) UNWIND "amenities"
3) GROUP on "address.country", "amenities" and return the count of each grouping as "amenities_count"
4) FILTER on "amenities_count" greater than 4
5) SORT on "amenities_count" descending
~~~

## Question 12

In the airbnb collection, modify question 11 to include the following:
~~~
1) GROUP all the results by "country", sum the count of documents as "doc_count" and PUSH the results from the previous grouping into an array named "amenities" with the following values: "amenity" as "amenities" and "count" as "amenities_count"
2) SORT by doc_count descending
~~~

## Question 13

In the movies collection, write the following query:
~~~
1) FILTER on "type" of "movie", "awards.wins" greater than 1, and "cast" and "genres" exists
2) UNWIND "cast" and UNWIND "genres"
3) GROUP on "genres" as "genre", "cast" as "actor", and return the count of each grouping as "count" and create a unique set of the "title" and "awards.wins" field called "title" and "awards" respectively
4) PROJECT the "genre" field, "actor", and "count" field, and sum the "awards" as "awards_total"
5) SORT on "awards_total" descending
6) GROUP on "genre", and return the best actor in that genre with the following values: "actor", "awards_total" as "awards" and "count" as "movie_count"
7) SORT on "best_actor.awards" descending
8) LIMIT to 10 results
~~~

## Question 14

In the movies collection, write the following query:
~~~
1) FILTER on "type" of "movie", and "cast" and "genres" exists
2) UNWIND "cast" and UNWIND "directors"
3) GROUP "cast", "directors" as "actor" and "director" respectively, return the count of documents in the grouping as "number_of_collaborations" and sum of "awards.wins" as "awards_total"
4) SORT on "number_of_collaborations", "awards_total" descending for both
5) LIMIT to top 5 results
~~~

## Question 15

In the training["companies"] collection, write the following query. Note that "funding_rounds.investments" is an array within an array
~~~
1) FILTER where "funding_rounds" field exists
2) GROUP on "funding_rounds.investments.financial_org.name" and return the count per grouping as "count"
3) FILTER out groupings with value of None
4) SORT on "count" descending
5) LIMIT to top 5
~~~

## Question 16

In the airbnb collection, write the following query:
~~~
Find the top 5 reviewers by count, GROUP on "reviews.reviewer_name" &  "reviews.reviewer_id". "reviews" is an array of embeddded objects
~~~

## Question 17

In the  collection, write the following query:
~~~
Find the top 3 times when people are leaving the most reviews by "date" field and return the count. Limit to 3 results. "reviews" is an array field.
~~~

## Question 18

In the "air_alliances" collection, write the following query.
~~~
1) LOOKUP the local field of "airlines" field from the "air_airlines" collection "name" field as "airlines"
~~~

## Question 19

In the air_routes collection, write the following query.
~~~
1) FILTER on "src_airport" in the following: "ATL","LHR"
2) LOOKUP from "air_alliances" in "airlines" field the "airline.name" field in the "air_routes" collection as "alliance"
3) GROUP by the "alliance.name" field and return the count as "count"
4) SORT by "count" descending
~~~