# Homework 2

**Name:** Chengjun Liu


## Q1. PY4E Chapter 5 Exercise 1

Write a program which repeatedly reads numbers until the
user enters "done". Once "done" is entered, print out the total, count, average of the numbers. If the user enters anything other than a
number, detect their mistake using try and except and print an error
message and skip to the next number. See sample run below.

```
Enter a number: 4
Enter a number: 5
Enter a number: bad data
Invalid input
Enter a number: 7
Enter a number: done
Output:
	total: 16.0,
	count: 3,
	average (2 decimal places): 5.33.
```

Write your code in the code cell below.

In [10]:
def summary(numlist):
    return sum(numlist), len(numlist), sum(numlist)/len(numlist)
    

numlist=[]
while True:
    try:
        num=input("Enter a number: ")
        if num=='done':
            break
        numlist.append(float(num))
    except:
        print("Invalid input")
total,count,average=summary(numlist)
print(f"Output:\n\ttotal: {total},\n\tcount: {count},\n\taverage (2 decimal places): {average:.2f}.")

Enter a number: 4
Enter a number: 5
Enter a number: bad data
Invalid input
Enter a number: 7
Enter a number: done
Output:
	total: 16.0,
	count: 3,
	average (2 decimal places): 5.33.

## Q2. BMI Calculator

Write a program which asks users to input their weight (in lbs) and height (in inches), and compute their body mass index (BMI), which is defind as $BMI=\frac{W}{H^2}$, where $W$ is their weight converted to kg, and $H$ is their height converted to m. (Assume 1 kg=2.205 lbs, and 1 m = 39.37 inches.) Finally, classify their BMI according to the following chart. 

|Classification | BMI ($kg/m^2$) |
|--|--|
|Underweight: | <18.5 |
|Normal: | 18.5 to 25 (>=18.5 but <25) |
|Overweight: | 25 to 30 (>=25 but <30) |
|Obese: | >=30 |

The program should ensure that the weight and height the user inputs are positive numbers. If the user does not input a number, then the program should print the message `"Invalid. Input must be a number."` If the user inputs a negative number or zero, the program should print the message `"Invalid. Input must be positive."` See sample run below.

```
Please input your weight (in lbs): thirty
Invalid. Input must be a number.
Please input your weight (in lbs): 143
Please input your height (in inches): 5'11''
Invalid. Input must be a number.
Please input your height (in inches): 71
According to the above chart, your BMI is 19.94 which is normal.
```

In [9]:
def bmi(weight,height):

    num=(weight/2.205)/(height/39.37)**2
    if  num < 18.5:
        mark='underweight'
    elif num <25:
        mark='normal'
    elif num <30:
        mark='overweight'
    else:
        mark='obese'
    
    return num, mark

cont=True
while cont:
    try:
        weight=float(input("Please input your weight (in lbs): "))
        if weight<=0:
            raise ArithmeticError
        cont=False
    except ValueError:
        print('Invalid. Input must be a number.')
    except ArithmeticError:
        print("Invalid. Input must be positive.")
    
cont=True
while cont:
    try:
        height=float(input("Please input your height (in inches): "))
        if height<=0:
            raise ArithmeticError
        cont=False
    except ValueError:
        print('Invalid. Input must be a number.')
    except ArithmeticError:
        print("Invalid. Input must be positive.")
    
num,mark=bmi(weight,height)
print(f"According to the above chart, your BMI is {num:.2f} which is {mark}.")

Please input your weight (in lbs): thirty
Invalid. Input must be a number.
Please input your weight (in lbs): 143
Please input your height (in inches): 5'11''
Invalid. Input must be a number.
Please input your height (in inches): 71
According to the above chart, your BMI is 19.94 which is normal.

## Q3. Estimating Time of Selling Out

Suppose that there are limited number of tickets to an event and your goal is to estimate how many weeks before the tickets will be sold out. 

Write a function `sellOutTime` with two input arguments:

- `demand`: a list of positive integers, representing the forecasted demand in each week.
- `inventory`: an integer denoting the initial supply of tickets.

The function should return the week in which tickets will sell out. For example, if `demand=[50,80,89]` (representing a demand of 50 in week 1, 80 in week 2, and 90 in week 3), then 

- if initial inventory is 10, the tickets will sell out in week 1. (Function returns 1.)
- if initial inventory is 50, the function should still return 1.
- if initial inventory is 60, function should return 2. (Because supply lasts into week 2.)
- if initial inventory is 300, function should return 4. (Supply lasts even after the 3 weeks are over.)

In [20]:
def sellOutTime(demand,inventory):
    week=len(demand)+1
    for i in range(len(demand)):
        if inventory<=sum(demand[:i+1]):
            week=i+1
            break

    return week

In [21]:
demand=[50,80,89,100,120,140,100,80]
for inventory in [10,50,60,130,220,500,1000]:
    print('With initial inventory',inventory,' supply will last until week',sellOutTime(demand,inventory))

With initial inventory 10  supply will last until week 1
With initial inventory 50  supply will last until week 1
With initial inventory 60  supply will last until week 2
With initial inventory 130  supply will last until week 2
With initial inventory 220  supply will last until week 4
With initial inventory 500  supply will last until week 6
With initial inventory 1000  supply will last until week 9

The following code illustrates the use of the function after you complete it.

In [4]:
demand=[50,80,89,100,120,140,100,80]
for inventory in [10,50,60,130,220,500,1000]:
    print('With initial inventory',inventory,' supply will last until week',sellOutTime(demand,inventory))

With initial inventory 10  supply will last until week 1
With initial inventory 50  supply will last until week 1
With initial inventory 60  supply will last until week 2
With initial inventory 130  supply will last until week 2
With initial inventory 220  supply will last until week 4
With initial inventory 500  supply will last until week 6
With initial inventory 1000  supply will last until week 9

## Q4. Forecasting Harvard Tuition

An **exponential smoothing** forecast is given by 

$$ F_1 = A_0, $$

$$ F_t = \alpha A_{t-1} + (1-\alpha) F_{t-1} \quad \mbox{ for } t > 1, $$

where
- $\alpha \in (0,1]$ is the smoothing constant chosen by the user. 
- $A_t$ is the actual value for time period $t = 0, 1, ...$, 
- $F_t$ is the forecast for time period $t = 1, ...$. (Note that there is no $F_0$ because no forecast is available for the initial period $t=0$.)

The file `HWK2-tuition.csv` contains the historical tuition for Harvard MBA from 1985-2017. (Data source: https://www.kaggle.com/harvard-university/harvard-tuition) The following code illustrates how to read the data using pandas and iterate over the columns. You may want to look up the `pandas.DataFrame.loc` and `pandas.DataFrame.iloc` commands.

```python
import pandas as pd
tuition=pd.read_csv('HWK2-tuition.csv',index_col=0)

for year in tuition.index:
    tuition.loc[year,'Tuition']
```

Write a program that applies exponential smoothing to forecast the tuition of Harvard's MBA program in 2018 using $\alpha=0.8$, as well as the mean absolute deviation of the forecast since the year 2000, as defined by the average value of $|F_t-A_t|$ as time ranges from the year 2000 to the last year in the data.

In [24]:
import pandas as pd
tuition=pd.read_csv('HWK2-tuition.csv',index_col=0)

tuition

      Tuition
Year
1985    10000
1986    10750
1987    11900
1988    13300
1989    14250
1990    15350
1991    16400
1992    17500
1993    18550
1994    19750
1995    21000
1996    22700
1997    23840
1998    25000
1999    26260
2000    27250
2001    28500
2002    30050
2003    31800
2004    33650
2005    35600
2006    37500
2007    39600
2008    41900
2009    43800
2010    46150
2011    48600
2012    51200
2013    53500
2014    56175
2015    58875
2016    61225
2017    63675

In [35]:
Forward=[tuition.Tuition[tuition.index[0]]]
for i in range(len(tuition.Tuition)-1):
    Forward.append(0.2*Forward[i]+0.8*tuition.Tuition[tuition.index[i+1]])

tui18=Forward[-1]

abses=[]
for i in range(tuition.index[-1]+1-2000):
    abses.append(abs(Forward[-(i+2)]-list(tuition.Tuition)[-(i+1)]))
    
mae=sum(abses)/len(abses)

The tuition forecast for 2018 is $63064.18.
The mean absolute error of the forecast since Year 2000 is $2577.42.

In [36]:
print(f"The tuition forecast for 2018 is ${tui18:.2f}.\nThe mean absolute error of the forecast since Year 2000 is ${mae:.2f}.")

The tuition forecast for 2018 is $63064.18.
The mean absolute error of the forecast since Year 2000 is $2577.42.