In [1]:
import pandas as pd

In [2]:
GapMinder=pd.read_csv("gapminder.tsv",sep='\t')

In [3]:
GapMinder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

1. (1 point) What is the value of the life expectancy for the 100th row?

In [4]:
ans1=GapMinder.loc[99,"lifeExp"]
ans1

43.453

2. (1 point) Create a subset of the gapminder data that includes the country, year, and gdp per capita
for all observations. Save your result in variable gapminder_subset.

In [6]:
gapminder_subset=GapMinder.loc[:,["country","year","gdpPercap"]]
gapminder_subset

          country  year   gdpPercap
0     Afghanistan  1952  779.445314
1     Afghanistan  1957  820.853030
2     Afghanistan  1962  853.100710
3     Afghanistan  1967  836.197138
4     Afghanistan  1972  739.981106
...           ...   ...         ...
1699     Zimbabwe  1987  706.157306
1700     Zimbabwe  1992  693.420786
1701     Zimbabwe  1997  792.449960
1702     Zimbabwe  2002  672.038623
1703     Zimbabwe  2007  469.709298

[1704 rows x 3 columns]

3. (1 point) Which years are presented in this dataset?

In [7]:
GapMinder.loc[:,'year'].unique()

array([1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002,
       2007], dtype=int64)

4. (1 point) What is the average life expectancy for all countries in 2007?

In [9]:
GapMinder.loc[GapMinder["year"]==2007,"lifeExp"].mean()

67.00742253521126

5. (2 points) Create a dataframe that has all countries in Europe with GDP per capita less than the
average European GDP per capita in 2007? Save your result in a variable result.

In [24]:
Euro2007=GapMinder.loc[( (GapMinder["continent"]=="Europe") & (GapMinder["year"]==2007)),:]
EuroPoor=Euro2007.loc[Euro2007["gdpPercap"]<Euro2007["gdpPercap"].mean(),:]
EuroPoor

                     country continent  year  lifeExp       pop     gdpPercap
23                   Albania    Europe  2007   76.423   3600523   5937.029526
155   Bosnia and Herzegovina    Europe  2007   74.852   4552198   7446.298803
191                 Bulgaria    Europe  2007   73.005   7322858  10680.792820
383                  Croatia    Europe  2007   75.748   4493312  14619.222720
407           Czech Republic    Europe  2007   76.486  10228744  22833.308510
683                  Hungary    Europe  2007   73.338   9956108  18008.944440
1019              Montenegro    Europe  2007   74.543    684736   9253.896111
1235                  Poland    Europe  2007   75.563  38518241  15389.924680
1247                Portugal    Europe  2007   78.098  10642836  20509.647770
1283                 Romania    Europe  2007   72.476  22276056  10808.475610
1343                  Serbia    Europe  2007   74.002  10150265   9786.534714
1379         Slovak Republic    Europe  2007   74.663   5447502  18678.314350
1583                  Turkey    Europe  2007   71.777  71158647   8458.276384

6. (2 points) Using the result dataframe from the previous question, create a data dictionary for the
countries in Europe with GDP per capita less than the average European GDP per capita in 2007? This
dictionary should have two keys: country, and gdpPercap, and the values for each key are represented
using a list.

In [29]:
EuroPoorDict=dict(country=list(EuroPoor["country"]),gdpPercap=list(EuroPoor["gdpPercap"]))
EuroPoorDict

{'country': ['Albania',
  'Bosnia and Herzegovina',
  'Bulgaria',
  'Croatia',
  'Czech Republic',
  'Hungary',
  'Montenegro',
  'Poland',
  'Portugal',
  'Romania',
  'Serbia',
  'Slovak Republic',
  'Turkey'],
 'gdpPercap': [5937.029525999999,
  7446.298803,
  10680.79282,
  14619.222719999998,
  22833.30851,
  18008.94444,
  9253.896111,
  15389.924680000002,
  20509.64777,
  10808.47561,
  9786.534714,
  18678.31435,
  8458.276384]}