## Associated Rule Learning Practice

In [1]:
# import mlxtend to detect associations

import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

### Test on Apriori

In [2]:
# self-made set

data = {'ID': [1, 2, 3, 4, 5, 6],
        'Onion': [1, 0, 0, 1, 1, 1],
        'Potato': [1, 1, 0, 1, 1, 1],
        'Burger': [1, 1, 0, 0, 1, 1],
        'Milk': [0, 1, 1, 1, 0, 1],
        'Beer': [0, 0, 1, 0, 1, 0]}

df = pd.DataFrame(data)

df = df[['ID', 'Onion', 'Potato', 'Burger', 'Milk', 'Beer']]

In [3]:
df

   ID  Onion  Potato  Burger  Milk  Beer
0   1      1       1       1     0     0
1   2      0       1       1     1     0
2   3      0       0       0     1     1
3   4      1       1       0     1     0
4   5      1       1       1     0     1
5   6      1       1       1     1     0

### Minimum support to discover rules

In [4]:
# call apriori out directly to see frequent combination of items

frequent_itemsets = apriori(
    df[['Onion', 'Potato', 'Burger', 'Milk', 'Beer']], min_support=0.50, use_colnames=True)

In [5]:
frequent_itemsets

    support                 itemsets
0  0.666667                  (Onion)
1  0.833333                 (Potato)
2  0.666667                 (Burger)
3  0.666667                   (Milk)
4  0.666667          (Potato, Onion)
5  0.500000          (Burger, Onion)
6  0.666667         (Burger, Potato)
7  0.500000           (Milk, Potato)
8  0.500000  (Burger, Potato, Onion)

### Present association rule metrics

In [6]:
# present different metrics to show association between groups

rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)

In [7]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Potato),(Onion),0.833333,0.666667,0.666667,0.80,1.200,0.111111,1.666667
1,(Onion),(Potato),0.666667,0.833333,0.666667,1.00,1.200,0.111111,inf
2,(Burger),(Onion),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
3,(Onion),(Burger),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
4,(Burger),(Potato),0.666667,0.833333,0.666667,1.00,1.200,0.111111,inf
5,(Potato),(Burger),0.833333,0.666667,0.666667,0.80,1.200,0.111111,1.666667
6,"(Burger, Potato)",(Onion),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
7,"(Burger, Onion)",(Potato),0.500000,0.833333,0.500000,1.00,1.200,0.083333,inf
8,"(Potato, Onion)",(Burger),0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
9,(Burger),"(Potato, Onion)",0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333
10,(Potato),"(Burger, Onion)",0.833333,0.500000,0.500000,0.60,1.200,0.083333,1.250000
11,(Onion),"(Burger, Potato)",0.666667,0.666667,0.500000,0.75,1.125,0.055556,1.333333

In [8]:
# You see, it's clear from support that Onion and Burger are associated with Potato
# (Onino, Burger) is also possible with Potato.

rules[(rules['lift'] > 1.125) & (rules['confidence'] > 0.8)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Onion),(Potato),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
4,(Burger),(Potato),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
7,"(Burger, Onion)",(Potato),0.500000,0.833333,0.500000,1.0,1.2,0.083333,inf

### In reality, we face lists of baskets...

In [9]:
# Build lists of baskets

retail_shopping_basket = {'ID':[1,2,3,4,5,6],
                         'Basket':[['Beer', 'Diaper', 'Pretzels', 'Chips', 'Aspirin'],
                                   ['Diaper', 'Beer', 'Chips', 'Lotion', 'Juice', 'BabyFood', 'Milk'],
                                   ['Soda', 'Chips', 'Milk'],
                                   ['Soup', 'Beer', 'Diaper', 'Milk', 'IceCream'],
                                   ['Soda', 'Coffee', 'Milk', 'Bread'],
                                   ['Beer', 'Chips']
                                  ]
                         }

retail = pd.DataFrame(retail_shopping_basket)

retail = retail[['ID', 'Basket']]

pd.options.display.max_colwidth=100

In [10]:
# in DataFrame, they are in a column, we have to split the lists and count.

retail

   ID                                                Basket
0   1              [Beer, Diaper, Pretzels, Chips, Aspirin]
1   2  [Diaper, Beer, Chips, Lotion, Juice, BabyFood, Milk]
2   3                                   [Soda, Chips, Milk]
3   4                  [Soup, Beer, Diaper, Milk, IceCream]
4   5                           [Soda, Coffee, Milk, Bread]
5   6                                         [Beer, Chips]

In [11]:
# drop unused id column

retail_id = retail.drop('Basket' ,1)
retail_id

   ID
0   1
1   2
2   3
3   4
4   5
5   6

In [12]:
# Use one-hot encoder to show frequencies of items.

# Bind the lists into strings, split by comma

retail_Basket = retail.Basket.str.join(',')
retail_Basket

0              Beer,Diaper,Pretzels,Chips,Aspirin
1    Diaper,Beer,Chips,Lotion,Juice,BabyFood,Milk
2                                 Soda,Chips,Milk
3                  Soup,Beer,Diaper,Milk,IceCream
4                          Soda,Coffee,Milk,Bread
5                                      Beer,Chips
Name: Basket, dtype: object

In [13]:
# Get_dummy contains string split method.

retail_Basket = retail_Basket.str.get_dummies(',')
retail_Basket

,Aspirin,BabyFood,Beer,Bread,Chips,Coffee,Diaper,IceCream,Juice,Lotion,Milk,Pretzels,Soda,Soup
0,1,0,1,0,1,0,1,0,0,0,0,1,0,0
1,0,1,1,0,1,0,1,0,1,1,1,0,0,0
2,0,0,0,0,1,0,0,0,0,0,1,0,1,0
3,0,0,1,0,0,0,1,1,0,0,1,0,0,1
4,0,0,0,1,0,1,0,0,0,0,1,0,1,0
5,0,0,1,0,1,0,0,0,0,0,0,0,0,0

In [14]:
# return id to new dataframe.

retail = retail_id.join(retail_Basket)
retail

,ID,Aspirin,BabyFood,Beer,Bread,Chips,Coffee,Diaper,IceCream,Juice,Lotion,Milk,Pretzels,Soda,Soup
0,1,1,0,1,0,1,0,1,0,0,0,0,1,0,0
1,2,0,1,1,0,1,0,1,0,1,1,1,0,0,0
2,3,0,0,0,0,1,0,0,0,0,0,1,0,1,0
3,4,0,0,1,0,0,0,1,1,0,0,1,0,0,1
4,5,0,0,0,1,0,1,0,0,0,0,1,0,1,0
5,6,0,0,1,0,1,0,0,0,0,0,0,0,0,0

In [15]:
# using apriori the same way

frequent_itemsets_2 = apriori(retail.drop('ID',1), use_colnames=True)

In [16]:
frequent_itemsets_2

    support        itemsets
0  0.666667          (Beer)
1  0.666667         (Chips)
2  0.500000        (Diaper)
3  0.666667          (Milk)
4  0.500000   (Chips, Beer)
5  0.500000  (Beer, Diaper)

In [17]:
# There are only Beer, Chips, Diaper, and Milk
# Easy to know by higher confidence and lift that Diaper is related to Beer.

association_rules(frequent_itemsets_2, metric='lift')

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Chips),(Beer),0.666667,0.666667,0.5,0.75,1.125,0.055556,1.333333
1,(Beer),(Chips),0.666667,0.666667,0.5,0.75,1.125,0.055556,1.333333
2,(Beer),(Diaper),0.666667,0.500000,0.5,0.75,1.500,0.166667,2.000000
3,(Diaper),(Beer),0.500000,0.666667,0.5,1.00,1.500,0.166667,inf

### Real practice on Movie Genres

In [18]:
# Dataset comes from https://grouplens.org/datasets/movielens/

movies = pd.read_csv('ml-latest-small/movies.csv')

In [19]:
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [20]:
#see more columns
pd.options.display.max_columns=100
# one-hot encoder to split strings
movies_ohe = movies.drop('genres',1).join(movies.genres.str.get_dummies())
movies_ohe.head()

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [21]:
# the shape is 9125 rows, 22 columns.

movies_ohe.shape

(9125, 22)

In [22]:
# move id and title to multiindex
movies_ohe.set_index(['movieId','title'],inplace=True)

In [23]:
movies_ohe.head()

,,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,title,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,Jumanji (1995),0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,Grumpier Old Men (1995),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,Waiting to Exhale (1995),0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
5,Father of the Bride Part II (1995),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [24]:
# apriori association for genres
frequent_itemsets_movies = apriori(movies_ohe,use_colnames=True, min_support=0.025)

In [25]:
frequent_itemsets_movies

     support                  itemsets
0   0.169315                  (Action)
1   0.122411               (Adventure)
2   0.048986               (Animation)
3   0.063890                (Children)
4   0.363288                  (Comedy)
5   0.120548                   (Crime)
6   0.054247             (Documentary)
7   0.478356                   (Drama)
8   0.071671                 (Fantasy)
9   0.096110                  (Horror)
10  0.043178                 (Musical)
11  0.059507                 (Mystery)
12  0.169315                 (Romance)
13  0.086795                  (Sci-Fi)
14  0.189479                (Thriller)
15  0.040219                     (War)
16  0.058301       (Action, Adventure)
17  0.037589          (Comedy, Action)
18  0.038247           (Crime, Action)
19  0.051178           (Drama, Action)
20  0.040986          (Sci-Fi, Action)
21  0.062904        (Thriller, Action)
22  0.029260     (Children, Adventure)
23  0.036712       (Comedy, Adventure)
24  0.032438        (Drama, Adventure)
25  0.030685      (Fantasy, Adventure)
26  0.027726       (Sci-Fi, Adventure)
27  0.027068     (Children, Animation)
28  0.032877        (Comedy, Children)
29  0.032438           (Comedy, Crime)
30  0.104000           (Comedy, Drama)
31  0.026959         (Fantasy, Comedy)
32  0.090082         (Comedy, Romance)
33  0.067616            (Crime, Drama)
34  0.057863         (Crime, Thriller)
35  0.031671          (Mystery, Drama)
36  0.101260          (Romance, Drama)
37  0.087123         (Thriller, Drama)
38  0.031014              (War, Drama)
39  0.043397        (Horror, Thriller)
40  0.036055       (Mystery, Thriller)
41  0.028932        (Sci-Fi, Thriller)
42  0.035068  (Comedy, Romance, Drama)
43  0.032000  (Thriller, Drama, Crime)

In [26]:
# calculate genres group association metrics.
rules_movies =  association_rules(frequent_itemsets_movies, metric='lift', min_threshold=1.25)

In [27]:
rules_movies

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Action),(Adventure),0.169315,0.122411,0.058301,0.344337,2.812955,0.037575,1.338475
1,(Adventure),(Action),0.122411,0.169315,0.058301,0.476276,2.812955,0.037575,1.586111
2,(Crime),(Action),0.120548,0.169315,0.038247,0.317273,1.873860,0.017836,1.216716
3,(Action),(Crime),0.169315,0.120548,0.038247,0.225890,1.873860,0.017836,1.136081
4,(Sci-Fi),(Action),0.086795,0.169315,0.040986,0.472222,2.789015,0.026291,1.573929
5,(Action),(Sci-Fi),0.169315,0.086795,0.040986,0.242071,2.789015,0.026291,1.204870
6,(Thriller),(Action),0.189479,0.169315,0.062904,0.331984,1.960746,0.030822,1.243510
7,(Action),(Thriller),0.169315,0.189479,0.062904,0.371521,1.960746,0.030822,1.289654
8,(Children),(Adventure),0.063890,0.122411,0.029260,0.457976,3.741299,0.021439,1.619096
9,(Adventure),(Children),0.122411,0.063890,0.029260,0.239033,3.741299,0.021439,1.230158
10,(Fantasy),(Adventure),0.071671,0.122411,0.030685,0.428135,3.497518,0.021912,1.534608
11,(Adventure),(Fantasy),0.122411,0.071671,0.030685,0.250671,3.497518,0.021912,1.238881
12,(Sci-Fi),(Adventure),0.086795,0.122411,0.027726,0.319444,2.609607,0.017101,1.289519
13,(Adventure),(Sci-Fi),0.122411,0.086795,0.027726,0.226500,2.609607,0.017101,1.180614
14,(Children),(Animation),0.063890,0.048986,0.027068,0.423671,8.648758,0.023939,1.650122
15,(Animation),(Children),0.048986,0.063890,0.027068,0.552573,8.648758,0.023939,2.092205
16,(Comedy),(Children),0.363288,0.063890,0.032877,0.090498,1.416453,0.009666,1.029255
17,(Children),(Comedy),0.063890,0.363288,0.032877,0.514580,1.416453,0.009666,1.311672
18,(Comedy),(Romance),0.363288,0.169315,0.090082,0.247964,1.464511,0.028572,1.104581
19,(Romance),(Comedy),0.169315,0.363288,0.090082,0.532039,1.464511,0.028572,1.360609
20,(Crime),(Thriller),0.120548,0.189479,0.057863,0.480000,2.533256,0.035022,1.558693
21,(Thriller),(Crime),0.189479,0.120548,0.057863,0.305379,2.533256,0.035022,1.266089
22,(Romance),(Drama),0.169315,0.478356,0.101260,0.598058,1.250236,0.020267,1.297810
23,(Drama),(Romance),0.478356,0.169315,0.101260,0.211684,1.250236,0.020267,1.053746
24,(War),(Drama),0.040219,0.478356,0.031014,0.771117,1.612015,0.011775,2.279087
25,(Drama),(War),0.478356,0.040219,0.031014,0.064834,1.612015,0.011775,1.026321
26,(Horror),(Thriller),0.096110,0.189479,0.043397,0.451539,2.383052,0.025186,1.477810
27,(Thriller),(Horror),0.189479,0.096110,0.043397,0.229034,2.383052,0.025186,1.172413
28,(Mystery),(Thriller),0.059507,0.189479,0.036055,0.605893,3.197672,0.024779,2.056601
29,(Thriller),(Mystery),0.189479,0.059507,0.036055,0.190283,3.197672,0.024779,1.161509
30,(Sci-Fi),(Thriller),0.086795,0.189479,0.028932,0.333333,1.759206,0.012486,1.215781
31,(Thriller),(Sci-Fi),0.189479,0.086795,0.028932,0.152689,1.759206,0.012486,1.077769
32,"(Comedy, Drama)",(Romance),0.104000,0.169315,0.035068,0.337197,1.991536,0.017460,1.253291
33,(Romance),"(Comedy, Drama)",0.169315,0.104000,0.035068,0.207120,1.991536,0.017460,1.130057
34,"(Drama, Thriller)",(Crime),0.087123,0.120548,0.032000,0.367296,3.046884,0.021497,1.389989
35,"(Crime, Drama)",(Thriller),0.067616,0.189479,0.032000,0.473258,2.497673,0.019188,1.538742
36,(Thriller),"(Crime, Drama)",0.189479,0.067616,0.032000,0.168884,2.497673,0.019188,1.121845
37,(Crime),"(Drama, Thriller)",0.120548,0.087123,0.032000,0.265455,3.046884,0.021497,1.242778

In [28]:
# sorted by lift, apparently Children and Animation are associated.
rules_movies[(rules_movies.lift>4)].sort_values(by=['lift'], ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
14,(Children),(Animation),0.063890,0.048986,0.027068,0.423671,8.648758,0.023939,1.650122
15,(Animation),(Children),0.048986,0.063890,0.027068,0.552573,8.648758,0.023939,2.092205

In [29]:
# Showing movies with Children but without Animation, there aren't so many, proving the association of Children and Animation
movies[(movies.genres.str.contains('Children')) & (~movies.genres.str.contains('Animation'))]

,movieId,title,genres
1,2,Jumanji (1995),Adventure|Children|Fantasy
7,8,Tom and Huck (1995),Adventure|Children
26,27,Now and Then (1995),Children|Drama
32,34,Babe (1995),Children|Drama
36,38,It Takes Two (1995),Children|Comedy
...,...,...,...
8918,135268,Zenon: Z3 (2004),Adventure|Children|Comedy
8960,139620,Everything's Gonna Be Great (1998),Adventure|Children|Comedy|Drama
8967,140152,Dreamcatcher (2015),Children|Crime|Documentary
8981,140747,16 Wishes (2010),Children|Drama|Fantasy
9052,149354,Sisters (2015),Children|Comedy