In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Dimensionality Reduction

In [2]:
mydata = pd.read_csv('02 Variable Created.csv')

In [3]:
mydata.head()

,FULLVAL/lotarea_by_all,FULLVAL/lotarea_by_zip3,FULLVAL/lotarea_by_zip5,FULLVAL/lotarea_by_TAXCLASS,FULLVAL/lotarea_by_B,FULLVAL/bldarea_by_all,FULLVAL/bldarea_by_zip3,FULLVAL/bldarea_by_zip5,FULLVAL/bldarea_by_TAXCLASS,FULLVAL/bldarea_by_B,...,AVTOT/bldarea_by_all,AVTOT/bldarea_by_zip3,AVTOT/bldarea_by_zip5,AVTOT/bldarea_by_TAXCLASS,AVTOT/bldarea_by_B,AVTOT/bldvol_by_all,AVTOT/bldvol_by_zip3,AVTOT/bldvol_by_zip5,AVTOT/bldvol_by_TAXCLASS,AVTOT/bldvol_by_B
0,0.189636,0.106273,0.073098,0.157883,0.108772,2.264861,2.325715,2.989948,1.511585,2.376145,...,7.478986,3.751778,3.168741,1.351781,3.859687,0.332682,0.328308,0.217844,0.051882,0.343374
1,950.453907,532.641054,366.366609,791.305140,545.165506,20.510752,21.061847,27.077194,13.689028,21.518544,...,67.730253,33.976380,28.696353,12.241829,34.953611,3.012797,2.973178,1.972814,0.469848,3.109620
2,1.213312,0.679948,0.467689,1.010149,0.695937,0.420594,0.431895,0.555245,0.280707,0.441260,...,1.388878,0.696720,0.588448,0.251031,0.716759,1.029674,1.016134,0.674243,0.160578,1.062765
3,0.415786,0.233010,0.160271,0.346165,0.238489,1.344668,1.380797,1.775159,0.897441,1.410738,...,4.440340,2.227464,1.881309,0.802564,2.291530,4.937912,4.872978,3.233402,0.770071,5.096604
4,3.100871,1.737750,1.195277,2.581645,1.778611,86.234763,88.551765,113.842501,57.553718,90.471890,...,284.762946,142.849221,120.650042,51.469161,146.957861,633.345401,625.016840,414.721844,98.770624,653.699402

In [4]:
# Z scale before PCA
columns = mydata.columns
for column in columns:
    mydata[column] = (mydata[column]-mydata[column].mean())/mydata[column].std()

In [5]:
mydata.head()

,FULLVAL/lotarea_by_all,FULLVAL/lotarea_by_zip3,FULLVAL/lotarea_by_zip5,FULLVAL/lotarea_by_TAXCLASS,FULLVAL/lotarea_by_B,FULLVAL/bldarea_by_all,FULLVAL/bldarea_by_zip3,FULLVAL/bldarea_by_zip5,FULLVAL/bldarea_by_TAXCLASS,FULLVAL/bldarea_by_B,...,AVTOT/bldarea_by_all,AVTOT/bldarea_by_zip3,AVTOT/bldarea_by_zip5,AVTOT/bldarea_by_TAXCLASS,AVTOT/bldarea_by_B,AVTOT/bldvol_by_all,AVTOT/bldvol_by_zip3,AVTOT/bldvol_by_zip5,AVTOT/bldvol_by_TAXCLASS,AVTOT/bldvol_by_B
0,-0.082749,-0.079697,-0.121990,-0.095234,-0.072184,0.075345,0.085104,0.188848,0.025313,0.084701,...,0.081266,0.034366,0.107833,0.015242,0.035759,-0.007020,-0.007112,-0.035366,-0.013000,-0.007089
1,96.952127,47.408648,48.086173,89.374226,44.074086,1.162206,1.287867,2.474745,0.627854,1.262900,...,0.836998,0.411831,1.377106,0.487096,0.424576,0.021175,0.020891,0.043987,-0.007269,0.022776
2,0.021782,-0.028540,-0.070058,0.001148,-0.024627,-0.034514,-0.036469,-0.042208,-0.035591,-0.034390,...,0.004878,-0.003788,-0.020463,-0.032452,-0.003542,0.000312,0.000171,-0.014729,-0.011510,0.000678
3,-0.059656,-0.068396,-0.110517,-0.073941,-0.061678,0.020531,0.024445,0.073563,-0.005075,0.025281,...,0.043152,0.015329,0.043820,-0.008555,0.016150,0.041427,0.041006,0.100986,-0.003153,0.044228
4,0.214527,0.065788,0.025701,0.178866,0.063063,5.077219,5.620373,10.708837,2.798283,5.506922,...,3.559243,1.771508,5.949187,2.186771,1.825142,6.652294,6.606837,18.706867,1.340557,7.046778

In [6]:
# Performing PCA
from sklearn.decomposition import PCA
pca = PCA(n_components=15)
PCAdf = pca.fit_transform(mydata.iloc[:, 1:])
PCAdf = pd.DataFrame(data=PCAdf)

In [7]:
PCAscore = pca.explained_variance_ratio_
PCAscore
# Keep the first five PCs, which explain roughly 90% of the variance

array([0.51382713, 0.27458372, 0.07653615, 0.04271944, 0.03354459,
       0.01815771, 0.01597509, 0.00613335, 0.00455208, 0.0028825 ,
       0.00208033, 0.00188401, 0.00155606, 0.00104996, 0.00073684])

In [8]:
PCAdf.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.061359,-0.207337,-0.052157,-0.002739,0.208795,0.038899,-0.139186,0.047869,-0.021215,-0.110247,-0.001342,0.067507,-0.050957,-0.045295,-0.022194
1,36.537404,140.268900,13.310606,4.788845,17.038944,-20.286458,61.002428,-4.139963,-12.455463,-14.857204,-29.200383,-44.595601,-4.122940,-47.078927,-5.071667
2,-0.051810,0.067200,-0.031877,0.050090,-0.047470,0.023416,-0.086913,-0.000761,-0.075650,-0.018681,-0.011628,-0.032560,0.011453,-0.084683,-0.012106
3,0.200309,-0.176458,-0.070989,-0.084604,-0.046481,-0.073678,-0.121973,-0.062434,-0.091816,0.010886,-0.041092,0.056224,0.014090,-0.054434,-0.011117
4,40.520009,-9.581381,-3.963899,-19.403779,-8.099993,-16.654040,-0.924910,-12.968816,-4.956075,7.514292,-7.069768,4.679997,2.486173,-1.011418,-1.509837

In [9]:
# Z-scale again after PCA
from sklearn.preprocessing import StandardScaler
PCAdf = pd.DataFrame(StandardScaler().fit_transform(PCAdf)).iloc[:,0:5]

In [10]:
PCAdf.head()

          0          1         2          3          4
0  0.012905  -0.059650 -0.028422  -0.001997   0.171863
1  7.684278  40.355047  7.253346   3.492946  14.025078
2 -0.010896   0.019333 -0.017371   0.036535  -0.039073
3  0.042127  -0.050766 -0.038684  -0.061710  -0.038259
4  8.521870  -2.756542 -2.160047 -14.152964  -6.667257

In [11]:
PCAdf.to_csv('03 PCA.csv', index=False)

### Fraud score one calculation - Heuristic use of Z scores

In [12]:
PCAdf['Score1'] = (PCAdf[0]**2 + PCAdf[1]**2 + PCAdf[2]**2 + PCAdf[3]**2 + PCAdf[4]**2)**0.5

In [13]:
PCAdf.head()

          0          1         2          3          4     Score1
0  0.012905  -0.059650 -0.028422  -0.001997   0.171863   0.184590
1  7.684278  40.355047  7.253346   3.492946  14.025078  44.148527
2 -0.010896   0.019333 -0.017371   0.036535  -0.039073   0.060463
3  0.042127  -0.050766 -0.038684  -0.061710  -0.038259   0.105453
4  8.521870  -2.756542 -2.160047 -14.152964  -6.667257  18.156137

## Fraud score 2nd calculation - Autoencoder

In [14]:
pip install --upgrade tensorflow

Requirement already up-to-date: tensorflow in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (2.1.0)
Requirement already satisfied, skipping upgrade: astor>=0.6.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (0.8.1)
Requirement already satisfied, skipping upgrade: google-pasta>=0.1.6 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (0.1.8)
Requirement already satisfied, skipping upgrade: absl-py>=0.7.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (0.9.0)
Requirement already satisfied, skipping upgrade: opt-einsum>=2.3.2 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (3.1.0)
Requirement already satisfied, skipping upgrade: gast==0.2.2 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (0.2.2)
Requirement already satisfied, skipping upgrade: numpy<2.0,>=1.16.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.17.2)
Requirement already satisfied, skipping upgrade: grpcio>=1.8.6 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.27.1)
Requirement already satisfied, skipping upgrade: wheel>=0.26; python_version >= "3" in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (0.33.6)
Requirement already satisfied, skipping upgrade: tensorflow-estimator<2.2.0,>=2.1.0rc0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (2.1.0)
Requirement already satisfied, skipping upgrade: keras-applications>=1.0.8 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.0.8)
Requirement already satisfied, skipping upgrade: protobuf>=3.8.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (3.11.3)
Requirement already satisfied, skipping upgrade: termcolor>=1.1.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.1.0)
Requirement already satisfied, skipping upgrade: keras-preprocessing>=1.1.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.1.0)
Requirement already satisfied, skipping upgrade: six>=1.12.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.12.0)
Requirement already satisfied, skipping upgrade: wrapt>=1.11.1 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.11.2)
Requirement already satisfied, skipping upgrade: tensorboard<2.2.0,>=2.1.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (2.1.0)
Requirement already satisfied, skipping upgrade: scipy==1.4.1; python_version >= "3" in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.4.1)
Requirement already satisfied, skipping upgrade: h5py in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from keras-applications>=1.0.8->tensorflow) (2.9.0)
Requirement already satisfied, skipping upgrade: setuptools in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from protobuf>=3.8.0->tensorflow) (41.4.0)
Requirement already satisfied, skipping upgrade: google-auth-oauthlib<0.5,>=0.4.1 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow) (0.4.1)
Requirement already satisfied, skipping upgrade: markdown>=2.6.8 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow) (3.2)
Requirement already satisfied, skipping upgrade: google-auth<2,>=1.6.3 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow) (1.11.0)
Requirement already satisfied, skipping upgrade: requests<3,>=2.21.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow) (2.22.0)
Requirement already satisfied, skipping upgrade: werkzeug>=0.11.15 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow) (0.16.0)
Requirement already satisfied, skipping upgrade: requests-oauthlib>=0.7.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.2.0,>=2.1.0->tensorflow) (1.3.0)
Requirement already satisfied, skipping upgrade: cachetools<5.0,>=2.0.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow) (4.0.0)
Requirement already satisfied, skipping upgrade: rsa<4.1,>=3.1.4 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow) (4.0)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.2.1 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow) (0.2.8)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow) (1.24.2)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow) (2019.9.11)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow) (2.8)
Requirement already satisfied, skipping upgrade: oauthlib>=3.0.0 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.2.0,>=2.1.0->tensorflow) (3.1.0)
Requirement already satisfied, skipping upgrade: pyasn1>=0.1.3 in /Users/apple/opt/anaconda3/lib/python3.7/site-packages (from rsa<4.1,>=3.1.4->google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow) (0.4.8)
Note: you may need to restart the kernel to use updated packages.

In [15]:
from scipy import stats
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, precision_recall_curve
from sklearn.metrics import recall_score, classification_report, auc, roc_curve
from sklearn.metrics import precision_recall_fscore_support, f1_score
from sklearn.preprocessing import StandardScaler
from pylab import rcParams
# from keras.models import Model, load_model
# from keras.layers import Input, Dense
# from keras.callbacks import ModelCheckpoint, TensorBoard
# from keras import regularizers
from tensorflow.keras.models import Model, load_model,Sequential
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras.callbacks import ModelCheckpoint, TensorBoard
from tensorflow.keras import regularizers

In [16]:
put_dim = PCAdf.shape[1]-1
put_dim

5

In [17]:
ATC = PCAdf.iloc[:,:-1]
ATC

                0          1         2          3          4
0        0.012905  -0.059650 -0.028422  -0.001997   0.171863
1        7.684278  40.355047  7.253346   3.492946  14.025078
2       -0.010896   0.019333 -0.017371   0.036535  -0.039073
3        0.042127  -0.050766 -0.038684  -0.061710  -0.038259
4        8.521870  -2.756542 -2.160047 -14.152964  -6.667257
...           ...        ...       ...        ...        ...
1070989 -0.022405  -0.037252 -0.003882   0.021278  -0.013713
1070990 -0.024467  -0.046061 -0.007257   0.004789  -0.010987
1070991 -0.020435  -0.047112 -0.003320   0.008921  -0.016556
1070992 -0.013161  -0.038271  0.002016  -0.008179   0.002967
1070993 -0.015120  -0.023530  0.001978   0.008520  -0.005826

[1070994 rows x 5 columns]

In [18]:
input_dim = ATC.shape[1] #num of columns
encoding_dim = 3
# hidden_dim = int(encoding_dim / 2) 
learning_rate = 10e-5

input_layer = Input(shape=(input_dim, ))
encoder = Dense(encoding_dim, activation="tanh", activity_regularizer=regularizers.l1(learning_rate))(input_layer)
# encoder = Dense(hidden_dim, activation="relu")(encoder)
# decoder = Dense(hidden_dim, activation='tanh')(encoder)
decoder = Dense(input_dim, activation='relu')(encoder)
autoencoder = Model(inputs=input_layer, outputs=decoder)

In [19]:
nb_epoch = 1
autoencoder.compile(metrics=['accuracy'],
                    loss='mean_squared_error',
                    optimizer='adam')

cp = ModelCheckpoint(filepath="autoencoder_fraud.h5",
                               save_best_only=True,
                               verbose=0)

tb = TensorBoard(log_dir='./logs',
                histogram_freq=0,
                write_graph=True,
                write_images=True)

history = autoencoder.fit(ATC, ATC,
                    epochs=nb_epoch,
#                     batch_size=batch_size,
                    shuffle=True,
#                     validation_data=(test_x, test_x),
                    verbose=1,
                    callbacks=[cp, tb]).history

Train on 1070994 samples
1070784/1070994 [============================>.] - ETA: 0s - loss: 0.9837 - accuracy: 0.7904WARNING:tensorflow:Can save best model only with val_loss available, skipping.
1070994/1070994 [==============================] - 44s 41us/sample - loss: 0.9835 - accuracy: 0.7904

In [20]:
predictions = autoencoder.predict(ATC)
predictions

array([[4.6807945e-02, 0.0000000e+00, 5.4478601e-02, 0.0000000e+00,
        1.3573873e-01],
       [2.0127275e+00, 3.9944115e+00, 5.4083496e-01, 0.0000000e+00,
        2.4549603e+00],
       [0.0000000e+00, 1.8171728e-02, 0.0000000e+00, 1.7027497e-02,
        0.0000000e+00],
       ...,
       [0.0000000e+00, 0.0000000e+00, 0.0000000e+00, 6.7180395e-03,
        0.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 4.6788603e-03, 8.0043077e-04,
        0.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 2.1283478e-03, 9.3838573e-03,
        0.0000000e+00]], dtype=float32)

In [21]:
autoencoded_data = pd.DataFrame(predictions)
autoencoded_data.columns = ['ACT-0','ACT-1','ACT-2','ACT-3','ACT-4']
autoencoded_data

            ACT-0     ACT-1     ACT-2     ACT-3     ACT-4
0        0.046808  0.000000  0.054479  0.000000  0.135739
1        2.012727  3.994411  0.540835  0.000000  2.454960
2        0.000000  0.018172  0.000000  0.017027  0.000000
3        0.027103  0.000000  0.000000  0.000000  0.000000
4        2.320987  0.000000  0.000000  0.000000  0.111521
...           ...       ...       ...       ...       ...
1070989  0.000000  0.000000  0.000426  0.012361  0.000000
1070990  0.000000  0.000000  0.000471  0.008317  0.000000
1070991  0.000000  0.000000  0.000000  0.006718  0.000000
1070992  0.000000  0.000000  0.004679  0.000800  0.000000
1070993  0.000000  0.000000  0.002128  0.009384  0.000000

[1070994 rows x 5 columns]

In [22]:
## Calculate Diff:
for i in range(5):
    ATC['diff'+str(i)] = ATC.iloc[:,i]-autoencoded_data.iloc[:,i]

In [23]:
ATC

,0,1,2,3,4,diff0,diff1,diff2,diff3,diff4
0,0.012905,-0.059650,-0.028422,-0.001997,0.171863,-0.033903,-0.059650,-0.082901,-0.001997,0.036125
1,7.684278,40.355047,7.253346,3.492946,14.025078,5.671550,36.360636,6.712511,3.492946,11.570117
2,-0.010896,0.019333,-0.017371,0.036535,-0.039073,-0.010896,0.001162,-0.017371,0.019507,-0.039073
3,0.042127,-0.050766,-0.038684,-0.061710,-0.038259,0.015024,-0.050766,-0.038684,-0.061710,-0.038259
4,8.521870,-2.756542,-2.160047,-14.152964,-6.667257,6.200883,-2.756542,-2.160047,-14.152964,-6.778778
...,...,...,...,...,...,...,...,...,...,...
1070989,-0.022405,-0.037252,-0.003882,0.021278,-0.013713,-0.022405,-0.037252,-0.004308,0.008916,-0.013713
1070990,-0.024467,-0.046061,-0.007257,0.004789,-0.010987,-0.024467,-0.046061,-0.007728,-0.003528,-0.010987
1070991,-0.020435,-0.047112,-0.003320,0.008921,-0.016556,-0.020435,-0.047112,-0.003320,0.002203,-0.016556
1070992,-0.013161,-0.038271,0.002016,-0.008179,0.002967,-0.013161,-0.038271,-0.002663,-0.008979,0.002967
1070993,-0.015120,-0.023530,0.001978,0.008520,-0.005826,-0.015120,-0.023530,-0.000150,-0.000864,-0.005826

In [24]:
score = (ATC['diff0']**2 + ATC['diff1']**2 +ATC['diff2']**2 \
        +ATC['diff3']**2 +ATC['diff4']**2 )**(1/2)

In [25]:
score

0           0.113530
1          39.311428
2           0.048260
3           0.097833
4          17.232919
             ...
1070989     0.046646
1070990     0.053973
1070991     0.054103
1070992     0.041646
1070993     0.028583
Length: 1070994, dtype: float64

In [26]:
PCAdf['Score2'] = score

In [27]:
PCAdf.head()

          0          1         2          3          4     Score1     Score2
0  0.012905  -0.059650 -0.028422  -0.001997   0.171863   0.184590   0.113530
1  7.684278  40.355047  7.253346   3.492946  14.025078  44.148527  39.311428
2 -0.010896   0.019333 -0.017371   0.036535  -0.039073   0.060463   0.048260
3  0.042127  -0.050766 -0.038684  -0.061710  -0.038259   0.105453   0.097833
4  8.521870  -2.756542 -2.160047 -14.152964  -6.667257  18.156137  17.232919

## Quantile binning & rank ordering

In [28]:
PCAdf['Rank_score1']=PCAdf['Score1'].rank(method='dense',ascending=False)
PCAdf['Rank_score2']=PCAdf['Score2'].rank(method='dense',ascending=False)

In [31]:
PCAdf.head(10)

,0,1,2,3,4,Score1,Score2,Rank_score1,Rank_score2
0,0.012905,-0.059650,-0.028422,-0.001997,0.171863,0.184590,0.113530,38603.0,34605.0
1,7.684278,40.355047,7.253346,3.492946,14.025078,44.148527,39.311428,73.0,76.0
2,-0.010896,0.019333,-0.017371,0.036535,-0.039073,0.060463,0.048260,326195.0,321227.0
3,0.042127,-0.050766,-0.038684,-0.061710,-0.038259,0.105453,0.097833,130342.0,74143.0
4,8.521870,-2.756542,-2.160047,-14.152964,-6.667257,18.156137,17.232919,177.0,155.0
5,0.005792,0.025293,-0.020086,0.042418,0.063438,0.083068,0.061393,235549.0,237789.0
6,4.415463,-1.529406,-1.153744,-7.339580,-3.548027,9.467019,8.677530,317.0,270.0
7,0.252577,-0.018009,-0.069098,-0.295793,0.231289,0.458129,0.317366,14960.0,9097.0
8,-0.029467,-0.016004,-0.018033,0.051432,-0.019840,0.066996,0.050854,298206.0,300490.0
9,-0.022059,-0.002008,-0.015937,0.047407,0.003694,0.054824,0.040497,356626.0,393547.0

In [36]:
PCAdf['Rank']=0.5*PCAdf['Rank_score1']+0.5*PCAdf['Rank_score2']
PCAdf = PCAdf.sort_values(by=['Rank'], ascending=True)

In [38]:
Top10=PCAdf.head(10)

In [42]:
Top10

,0,1,2,3,4,Score1,Score2,Rank_score1,Rank_score2,Rank
632815,442.508459,-188.470691,868.819599,205.941560,-149.033638,1025.087989,1023.614803,1.0,1.0,1.0
917941,304.868511,-99.859231,-326.875468,820.691009,138.645290,950.010787,948.485004,2.0,2.0,2.0
565391,648.458302,33.086750,-334.951590,-200.614173,-314.526424,820.340410,818.533092,3.0,3.0,3.0
917945,136.479091,702.627108,79.435896,41.473432,34.687735,722.180546,717.741092,4.0,4.0,4.0
917944,120.749221,616.009427,69.286392,35.726773,30.096710,633.269932,628.829988,5.0,5.0,5.0
585117,133.357842,-49.862190,-48.872431,15.927680,421.283245,447.652019,442.434933,6.0,6.0,6.0
585438,109.963477,-41.640937,-17.787218,-72.965341,411.719369,434.717263,429.579106,7.0,7.0,7.0
565397,319.158146,-103.609556,-178.331900,-103.552010,-142.931128,418.988609,417.244360,8.0,8.0,8.0
585119,99.119746,-36.966845,-43.615673,16.350530,322.412920,342.506977,337.345064,9.0,9.0,9.0
67128,154.699845,-31.672768,-46.245226,-93.872531,260.259815,321.902238,316.582827,10.0,10.0,10.0

In [45]:
rownumber=Top10.index

In [48]:
filleddata = pd.read_csv('Filled Dataset.csv')

In [49]:
filleddata.iloc[rownumber,:]

,Unnamed: 0,RECORD,BBLE,B,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,...,BLDDEPTH,AVLAND2,AVTOT2,EXLAND2,EXTOT2,EXCD2,PERIOD,YEAR,VALTYPE,Group_Zip_B_TAX
632815,632815,632816,4018420001,4,1842,1,NaN,"864163 REALTY, LLC",D9,2,...,1.0,1.201200e+06,1.201200e+06,NaN,NaN,NaN,FINAL,2010/11,AC-TR,11373.042
917941,917941,917942,4142600001,4,14260,1,NaN,"LOGAN PROPERTY, INC.",T1,4,...,36.0,1.644454e+09,4.501180e+09,1.644454e+09,4.501180e+09,NaN,FINAL,2010/11,AC-TR,11422.044
565391,565391,565392,3085900700,3,8590,700,NaN,U S GOVERNMENT OWNRD,V9,4,...,42.0,8.484847e+08,8.484847e+08,8.484847e+08,8.484847e+08,NaN,FINAL,2010/11,AC-TR,11234.034
917945,917945,917946,4142600070,4,14260,70,NaN,NaN,V1,4,...,55.0,1.977053e+06,1.977053e+06,NaN,NaN,NaN,FINAL,2010/11,AC-TR,11385.044
917944,917944,917945,4142600060,4,14260,60,NaN,NaN,V1,4,...,55.0,5.381491e+06,5.381491e+06,NaN,NaN,NaN,FINAL,2010/11,AC-TR,11385.044
585117,585117,585118,4004200001,4,420,1,NaN,NEW YORK CITY ECONOMI,O3,4,...,1.0,1.585494e+06,1.585494e+06,NaN,NaN,NaN,FINAL,2010/11,AC-TR,11101.044
585438,585438,585439,4004590005,4,459,5,NaN,11-01 43RD AVENUE REA,H9,4,...,1.0,NaN,NaN,NaN,NaN,NaN,FINAL,2010/11,AC-TR,11101.044
565397,565397,565398,3085910100,3,8591,100,NaN,DEPT OF GENERAL SERVI,V9,4,...,42.0,4.352642e+08,4.352642e+08,4.352642e+08,4.352642e+08,NaN,FINAL,2010/11,AC-TR,11234.034
585119,585119,585120,4004200101,4,420,101,NaN,NaN,O3,4,...,1.0,9.754560e+05,9.754560e+05,NaN,NaN,NaN,FINAL,2010/11,AC-TR,11385.044
67128,67128,67129,1011110001,1,1111,1,NaN,CULTURAL AFFAIRS,Q1,4,...,80.5,2.371005e+09,2.465055e+09,2.371005e+09,2.465055e+09,NaN,FINAL,2010/11,AC-TR,10028.014

In [47]:
mydata.iloc[rownumber,:]

,FULLVAL/lotarea_by_all,FULLVAL/lotarea_by_zip3,FULLVAL/lotarea_by_zip5,FULLVAL/lotarea_by_TAXCLASS,FULLVAL/lotarea_by_B,FULLVAL/bldarea_by_all,FULLVAL/bldarea_by_zip3,FULLVAL/bldarea_by_zip5,FULLVAL/bldarea_by_TAXCLASS,FULLVAL/bldarea_by_B,...,AVTOT/bldarea_by_all,AVTOT/bldarea_by_zip3,AVTOT/bldarea_by_zip5,AVTOT/bldarea_by_TAXCLASS,AVTOT/bldarea_by_B,AVTOT/bldvol_by_all,AVTOT/bldvol_by_zip3,AVTOT/bldvol_by_zip5,AVTOT/bldvol_by_TAXCLASS,AVTOT/bldvol_by_B
632815,-0.009145,-0.004132,-0.013011,0.116709,0.008490,280.339390,266.337897,325.659058,779.635050,264.041990,...,194.958547,187.738219,358.498988,682.709699,179.813708,363.688857,259.806559,386.695034,1009.952266,313.082869
917941,0.102716,0.185104,0.401129,0.075772,0.116159,41.368028,44.075294,66.095756,22.917403,38.958476,...,798.967503,784.847034,318.970609,498.812353,736.904724,496.795690,506.529484,280.611522,100.966007,427.669004
565391,161.929567,123.069082,237.087982,149.285639,111.785680,518.767812,534.180027,492.241360,287.581215,512.215510,...,360.746072,483.454592,507.257296,225.201952,484.195915,672.949166,716.530678,497.814436,136.770569,730.860356
917945,669.549608,612.464290,639.157136,617.328604,644.473089,0.555953,0.520600,0.578503,0.291756,0.518200,...,0.415450,0.399654,0.585687,0.223895,0.382243,0.787858,0.559753,0.758210,0.148565,0.676494
917944,587.338958,537.263380,560.674035,541.527584,565.343582,1.452308,1.372211,1.559149,0.788682,1.362463,...,1.038716,0.999839,1.511002,0.613041,0.957095,1.950500,1.390313,1.928203,0.384881,1.677364
585117,-0.088510,-0.077684,-0.100892,-0.100546,-0.067901,329.471412,266.733140,198.279798,182.637920,310.318699,...,229.121741,102.600494,113.114885,143.020243,211.323188,21.360853,21.601571,42.943379,4.330186,18.386929
585438,0.011150,0.006493,0.124165,-0.008656,0.028024,355.176245,287.544479,213.753877,196.888322,334.529693,...,246.995200,110.604748,121.942210,154.179817,227.808280,46.066343,46.585412,92.638564,9.351769,39.654858
565397,2.223800,1.678724,3.273602,2.031484,1.524817,277.070767,285.301008,262.885270,153.587730,273.569949,...,192.685761,258.230232,270.927041,120.270869,258.626200,359.449198,382.728121,265.885261,73.049267,390.382185
585119,-0.080694,-0.069581,-0.111162,-0.093339,-0.060377,205.847053,195.564044,225.174948,114.102291,193.878784,...,143.161449,137.859328,212.509783,89.349591,132.040082,13.343329,9.529047,13.393065,2.700562,11.484977
67128,33.867312,16.535280,15.727157,31.207879,15.373485,281.140009,311.122165,162.751111,155.843661,304.769411,...,195.515245,97.647616,113.285506,122.037502,100.584533,72.937048,72.440034,111.534695,14.813448,77.258791